<nav class="navbar">
    <div class="container">
        <!-- logo -->
        <div class="navbar-brand navbar-icon-holder">
            <a class="navbar-item photo">
                <img src="favicon.ico" (click)="iconCounter()">
            </a>
        </div>
        <div class="navbar-collapse collapse show">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/Home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Bolognese" class="nav-link">Bolognese</a></li>
                <li class="nav-item"><a href="/Spoon" class="nav-link">Spoon</a></li>
            </ul>
        </div>
    </div>
  </nav>