<h1 style="text-align: center">Bolognese</h1>
<h4 style="text-align: center">Sauce: <a href="https://basicswithbabish.co/basicsepisodes/bolognese">Binging With Babish</a></h4>
&nbsp;

<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Ingredients</h4>
            <h6>Chicken Stock Ingredients:</h6>
            <ul>
                <li>3lb chicken wings</li>
                <li>2 celery stalks, chopped</li>
                <li>2 carrots, chopped</li>
                <li>1 onion, halved</li>
                <li>1 head garlic, halved</li>
                <li>2 turnips, halved</li>
                <li>Knob ginger, halved</li>
                <li>Parsnips</li>
                <li>Fennel fronds</li>
                <li>Black peppercorns</li>
                <li>Water</li>
            </ul>>
            <h6>Bolognese Ingredients:</h6>
            <ul>
                <li>1 large onion, minced</li>
                <li>2 medium carrots, peeled and finely chopped</li>
                <li>3 ribs celery, finely chopped</li>
                <li>1 lb ground beef</li>
                <li>1 lb ground pork</li>
                <li>1 lb ground lamb (optional)</li>
                <li>Olive oil</li>
                <li>½ lb pancetta</li>
                <li>¼ cup tomato paste</li>
                <li>1 cup dry white wine</li>
                <li>32 oz chicken stock</li>
                <li>1 cup whole milk</li>
                <li>Bay leaves</li>
                <li>Parmesan cheese rinds (optional)</li>
                <li>Nutmeg, grated</li>
                <li>Kosher salt</li>
                <li>Freshly ground black pepper</li>
                <li>½ cup heavy cream</li>
                <li>Pappardelle pasta (if not made homemade)</li>
            </ul>
            <h6>Pappardelle Pasta Ingredients:</h6>
            <ul>
                <li>2 cups all-purpose flour</li>
                <li>4 eggs</li>
                <li>Kosher salt</li>
            </ul>
        </div>
        <div class="col-8">
            <h4>Method</h4>
            <h6>Chicken Stock Method:</h6>
            <ol>
                <li>Start by roasting 3 pounds of lightly oiled chicken wings in a 400°F oven until deeply brown.</li>
                <li>In a large stockpot, combine the wings along with a few chopped stalks of celery, chopped carrots, halved onion, whole halved head of garlic, turnip, a halved knob of ginger, parsnips, fennel fronds, and black peppercorns.</li>
                <li>Fill with water bringing just shy of a simmer (about 205°F). Let it go for at least 4 hours and ideally up to 24 hours.</li>
                <li>Save 1 quart for bolognese. For the rest, portion and freeze for later use.</li>
            </ol>
            <h6>Bolognese Method:</h6>
            <ol>
                <li>Start by finely mincing 1 large onion, 2 peeled and finely chopped medium carrots, and 3 finely chopped ribs of celery. Set aside.</li>
                <li>For the meats, in a large pot brown 1lb each of ground beef, pork, and lamb (optional) in some olive oil over medium heat until brown, 3-5 minutes. Place in a bowl and set aside. In a separate pan, dump ½ pound of pancetta and brown until the fat has rendered out and has become crispy. </li>
                <li>In the same large pot, saute the onions with the finely chopped celery and carrots until soft. </li>
                <li>Once the vegetables are soft and the pancetta is crisp, dump the pancetta into the pot with the vegetables along with ¼ cup of tomato paste. Mix to combine. </li>
                <li>After 2 minutes of letting the tomato paste caramelize, pour in 1 cup of dry white wine (sauvignon blanc) and scraping up all the fond, and mixing together. Let simmer for about 5 minutes until the wine has almost completely evaporated.</li>
                <li>Add back in the browned beef, pork, and lamb to the pot and stir together. Once combined, ladle in 32 oz of the chicken stock. Just enough to submerge everything. </li>
                <li>Top all of that with 1 cup of whole milk, 1 bay leaf (or 2), a couple of parmesan cheese rinds (optional), and grated nutmeg. Mix to combine.</li>
                <li>Place into a 300°F oven for 3-4 hours.</li>
                <li>Once the sauce is out of the oven and pasta is finished, skim off any excess fat from the sauce and remove the bay leaf from the pot. Taste for seasoning.</li>
                <li>Top with a generous amount of freshly grated parmesan, a generous pinch of kosher salt and freshly ground black pepper, and an optional ½ cup of heavy cream. Mix to combine.</li>
                <li>For final assembly, boil the pasta until just about done (45 seconds for fresh homemade pasta) and place it into a saucepan with a large amount of sauce along with ¼ cup of pasta water. </li>
                <li>Toss together over medium-low heat until some of the sauce is absorbed and emulsified and the pasta is fully cooked.  </li>
                <li>Place into a bowl for serving and enjoy.</li>
            </ol>
            <h6>Pasta Method:</h6>
            <ol>
                <li>Start by dumping 2 cups of all-purpose flour onto a work surface, making a well in the center, crack 4 eggs into the well, and a sprinkle of kosher salt.</li>
                <li>Using a fork, break up the eggs, then gradually mix the wet ingredients into the flour mixture just until combined.</li>
                <li>Begin kneading the dough by hand for about 4-7 minutes until soft, cohesive, bounce, and springs back when poked with a finger.</li>
                <li>Cover with plastic wrap and let rest for 30 minutes. </li>
                <li>Come rolling time, unwrap the dough and cut into 4 pieces. Keep extra pieces wrapped in plastic wrap to prevent drying out. </li>
                <li>On a floured surface, roll out the dough, pass it through a pasta maker roller on the widest setting, fold into thirds and run through the roller again. Repeat this process one notch at a time until reaching notch 0, or a long thin sheet of pasta has formed. If long and still thick, cut in half and run through the pasta thinner until reaching notch 0 or thinnest possible setting. Rinse and repeat with remaining balls of dough.</li>
                <li>Fold the pasta onto itself accordion style without the folds overlapping. Slice lengthwise into ½” wide strips. </li>
                <li>Make sure each piece of pasta is generously coated in flour before twisting into nests and placing onto a rimmed baking sheet dusted in flour. </li>
            </ol>            
        </div>
    </div>
</div>