<div>
    <h1>Welcome to Spaghetti Supply</h1>
    <h4 style="display: none">Spaghetti Supply<br>
    For all your spaghetti needs<br>
    It's all bad code here...</h4>
    <p>This website is all about bad code and is made to be a bit of fun. <br>Below is an example of ancient, horrid, spaghetti code</p>
    
    <code>
        public bool CheckBool(bool check) &#123;<br>
        &nbsp;&nbsp;bool? check1 = false;<br>
        &nbsp;&nbsp;if (check != false) &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;check1 = check != false;<br>
        &nbsp;&nbsp;&#125;<br>
        &nbsp;&nbsp;return check == true;<br>
        &#125;
    </code>    
</div>
